{% extends "base_page.html" %}

{% block title %}Search your Data{% endblock %}
{% block pagetitle %}Search your Data{% endblock %}

{% block authenticated_content %}
  {%if request.user.plaid_services %}
    Plaid services :
    {%for pservice in request.user.plaid_services%}
      {{pservice}}
    {% endfor %}
  {% endif %}

  <p>Create Full text indexes for this service:</p>

  <form action="/create_indexes/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit"  name="bt_index" value="Index" /><br><br>
  </form>
{% endblock %}
