{% extends "base_page.html" %}

{% block title %}Get Data from Services{% endblock %}
{% block pagetitle %}Get Data from Services{% endblock %}

{% block authenticated_content %}
  <br><br><br>
  <p>Get Data from these services:</p>

  <form action="/get_data/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <!--     <input type="submit" name="bt_get_data" value="Get Data" /><br><br> -->
    <input type="submit" name="bt_get_data_since" value="Get Data since last call to Service" />
    <!--     <input type="submit" name="bt_get_all_data" value="Get ALL Data from the Service" /> -->
  </form>
  <br><br><br>
{% endblock %}
