{% extends "base_page.html" %}

{% block title %}Service Registration{% endblock %}
{% block pagetitle %}Service Registration{% endblock %}

{% block authenticated_content %}
<p>Register with one or more of these services:</p>

<ul id="auth">
{% for service in services %}
  <li>
    <a href="/authenticate/{{ service.0.lower }}">
      {% if service.lower in profiles %}
        <span class="check">&#10003;</span>
      {% endif %}
      {{ service.1 }}
    </a>
  </li>
{% endfor %}
</ul>

<p>Register a mail account (IMAP):</p>

<form action="/register/" method="post">{% csrf_token %}
  {{ mail_account_form.as_p }}
  <input type="submit" name="bt_register_mail_account" value="Register mail account" />
</form>
{% endblock %}
